#main {
    color: white;
    background-image: radial-gradient(#800080, #4E004E);
    background-color: #800080;
    margin: 0px;
    text-align: center;
    width: 100%;
}

#main a {
    color: white;
}

#inner {
    position: absolute;
    width: 100%;
    top: 30%;
    padding-top: 0px;
}

#blurb {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10px;
}

#logo {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: white;
    padding-top: 10px;
    padding-left: 5px;
    margin: auto auto 10px;
}

