body {
    width: 100%;
    height: 100%;
}

label {
    font-size: 0.85em;
}

label a {
    margin-left: 5px;
}

#logo {
    text-align: center;
    margin-bottom: 35px;
}

#logo img {
    height: 40px;
    width: auto;
}

#server-validation {
    display: none;
}

#main {
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
}

#email-tip {
    font-size: 0.8em;
    color: gray;
}

#auth-nav {
    margin: 10px 0;
}
