/*
    Fixes the box sizing for non Boostrap grid related components
*/
*,
*:before,
*:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.container .row *,
.container .row *:before,
.container .row *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    line-height: 1;
}

/* End of bootstrap fixes */

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../vendor/bootstrap/fonts/glyphicons-halflings-regular.eot');
    src: url('../vendor/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
         url('../vendor/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'),
         url('../vendor/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
         url('../vendor/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

html, body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
    width: 500px;
    height: 600px;
    padding: 0px;
    margin: 0px;
}

#main {
    height: calc(100% - 25px);
}

.loader {
    visibility: hidden;
    position: relative;
    display: inline-block;
    border-top: 0.3em solid rgba(216, 216, 216, 1);
    border-right: 0.3em solid rgba(216, 216, 216, 1);
    border-bottom: 0.3em solid rgba(216, 216, 216, 1);
    border-left: 0.3em solid #ffffff;
    -webkit-animation: load8 0.3s infinite linear;
}

.loader, .loader:after {
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

@-webkit-keyframes load8 { 0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* bootstrap callout classes >> http://cpratt.co/twitter-bootstrap-callout-css-styles */

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}

ul.has-error {
    list-style: none;
    padding-left: 0;
}
