footer {
    background-color: #D8D8D8;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    height: 24px;
    float: right;
}

footer a:focus {
    outline: none;
}

#mode {
    font-family: 'Ubuntu', sans-serif;
    width: 375px;
    word-break: break-all;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-top: 3px;
    margin-left: 35px;
}

#goto-settings, #goto-main {
    float: right;
    cursor: pointer;
    padding: 5px 10px 0 0;
    color: black;
}

#goto-settings:hover, #goto-main:hover {
   color: #23527c;
}

/* I think Bootstrap fucks up the font-sizing in the main page */
#goto-settings {
    font-size: 1.1em;
}
#goto-main {
    font-size: 1.4em;
}
