#main {
    border-bottom: solid #D8D8D8 1px;
}

#search-container {
    text-align: center;
    padding-top: 10px;
    height: 16px;
}

#search-spinner {
    vertical-align: middle;
}

#action-container {
    height: 46px;
}

#shortcuts {
    float: left;
    height: 100%;
    background-color: #D8D8D8;
    width: 24px;
    outline: none;
    border-right: solid #565656 1px;
}

#shortcuts a {
    display: inline-block;
    outline: none;
}

#shortcuts:focus:hover {
    cursor: default;
}

#shortcuts:hover {
    cursor: pointer;
}

#not-shortcuts {
    float: right;
    height: 100%;
    width: calc(100% - 25px);
}

.shortcut img {
    padding: 2px 4px;
    width: 16px;
    height: 16px;
}

.command {
    display: none;
    width: 15px;
    height: 15px;
    text-align: center;
    position: absolute;
    margin-top: 4px;
    margin-left: 26px;
    font-size: 0.8em;
    color: black;
    padding-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-color: lightblue;
    border-bottom-width: 1px;
}

#shortcuts:focus .command {
    display: block;
}

#add {
    height: 21px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 3px;
    font-size: 0.85em;
    background-color: whitesmoke;
    border-top: solid whitesmoke 1px;
    border-bottom: solid #565656 1px;
}

#save, #Edit {
    display: none;
    margin-left: 5px;
}

#current-tab {
    margin-left: 5px;
}

.focus {
    color: lightblue;
}

#search {
    width: 65%;
    padding-left: 5px;
    border: solid grey 1px;
    border-right: none;
    outline: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    height: 24px;
}

#search-btn {
    height: 24px;
    margin-left: -5px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: black;
    background-color: white;
    border: solid grey 1px;
    border-left: none;
    font-size: 0.8em;
    vertical-align: bottom;
    width: 20px;
    outline: none;
}

#search-btn > i {
    padding-bottom: 3px;
}

#search-btn:hover {
    color: #23527c;
}

#search-results {
    margin: 0 10px 0 20px;
    width: calc(100% - 30px);
    height: 500px;
    padding-left: 0px;
}

#search-results li {
  display: block;
  font-family: 'Open Sans', sans-serif;
  border-radius: 3px;
  margin: 0px 5px;
}

#search-results li:hover {
    background-color: whitesmoke;
}

#search-results > li > div {
  height: 16px;
  padding: 3px;
}

#search-results img {
  display: inline-block;
  width: 16px;
  height: 16px;
  float: left;
}

.search-result {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 5px;
  font-size: 0.8em;
  width: 89%;
  padding: 3px;
}

.search-result:focus {
  text-decoration: none;
  color: black;
}

#search-results .dropdown {
  display: none;
  float: right;
}

#search-results .open {
    display: block;
    background-color: whitesmoke;
}

.dropdown > button {
    margin-right: -2px;
    margin-top: -3px;
    width: 10px;
    border: none;
    vertical-align: top;
    height: 20px;
    text-align: right;
    opacity: 0.2;
    background-color: transparent;
}

.dropdown > button:hover {
  opacity: 1;
}

.dropdown span {
    margin-right: 3px;
    vertical-align: middle;
}

.open button {
    opacity: 1;
    transform: rotate(0deg);
}

.open button .plus {
    display: none;
}

.minus {
    display: none;
}

.plus {
    display: inline-block;
}

.open button .minus {
    display: inline-block;
}


#search-results > li:hover .dropdown {
  display: inline-block;
}

#search-results .dropdown-menu {
  min-width: 100px;
}

.goto-modal {
    text-align: right;
    margin-bottom: 10px;
    margin-right: 20px;
    font-size: 0.8em;
}

#delete-modal, #edit-modal {
    width: 70%;
    margin: auto;
}

#edit:focus {
    background-color: white;
    border-color: #0062d6;
}

#edit-modal .modal-body > div {
    margin-bottom: 10px;
}

#edit-shortcut {
    font-family: Consolas, Lucida Console, monospace;
}

#edit-modal > div > div > div.modal-body > div:nth-child(3) {
    margin-top: 20px;
}

#edit-pin {
    margin-right: 10px;
}

#allowed-shortcuts {
    display: inline-block;
    vertical-align: middle;
    width: 120px;
    margin-left: 15px;
    font-size: .7em;
    color: gray;
}

#delete-url {
    word-break: break-all;
}

#delete-favicon, #edit-favicon {
    display: block;
    margin: auto;
    text-align: center;
    height: 32px;
    width: 32px;
}

#edit-name, #edit-url {
    width: 100%;
}

#edit-container {
    display: none;
    height: 60px;
}

#mode {
    font-family: 'Ubuntu', sans-serif;
    width: 375px;
    word-break: break-all;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-top: 3px;
    margin-left: 35px;
}

#inner {
    position: absolute;
    width: 100%;
    top: 30%;
    padding-top: 0px;
}

#container {
    height: 100%;
}

.loader, .loader:after {
    margin-right: 10px;
}
