#main {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: scroll;
    border-bottom: solid #565656 1px;
}

h4 {
    margin-bottom: 10px;
}

p,
span,
a,
input,
button {
    font-size: 0.8em;
}

#import p:first, #export p, #about p {
    margin-top: 0px;
}

#importer, #exporter {
    margin-top: 10px;
}
#signout {
    float: right;
    background: none!important;
    border: none;
    padding: 0!important;
    margin: 10px;
    color: #07c;
    cursor: pointer;
}

#signout:hover {
    color: #30a7fc;
}

#devmark-link {
    margin-top: 10px;
    display: inline-block;
}

a {
    color: #07c;
    text-decoration: none;
}

a:hover {
    color: #30a7fc;
}
